.vs/
_old/
android_eclipse/
archive/
data/
debian/
docs/
gfx_orig/
gfx_2x/
gfx_2x_nearestneighbour/
gfx_android_extras/
gfxsource/
ipch/
pics/
Debug/
Release/
CreateScaledGfx-build-*/
newgfx/

*.dll
*.lib
*.exe
*.opt
*.plg
*.suo
*.vcproj.*
*.vcxproj.*
*.sdf
*.opensdf
*.db

*.ico
*.svg

gigalomania.pro.user
gpl.txt
